<% provide(:title, 'About Route Guides') %>
<% @title=" | About " %>
<script>
   update_title('<%=@title%>');
   reset_map_controllers();
   document.getElementById("page_status").innerHTML = '';
</script>
<h1>About Us</h1>
<p>
This project aims to provide a repository for tramping route
guides covering the entire NZ conservation estate.<br/>
<br/>
In the tradiiton of Moir's Guide and Tararua Footprints (both copyright their respective authors / publishers),
route guides are not complete trips in 
themselves: they are guides to travelling from one point to another. Whilst they often describe routes
over a specific pass, or up a specific catchment - they can also describe tracks and other formed walkways.
This 'segmented' approach means that 
indiviual routes can be combined at will to create the exact trip you want to take.<br/>
<br/>
At present this project is in the sand-pit stage, and I am aware of dozens of major bugs, missing functionality
and improvements required. You are free to browse, or to log in and play - but note that data may be lost during 
this development stage. <br/>
<br/>
Once stable it will be opened up for all to use.<br/>
<br/>
Contact <a href="mailto:mattbriggs@yahoo.com">mattbriggs@yahoo.com</a> for details.

</p>
