<% provide(:title, 'About Route Guides') %>
<% @title=" | About " %>
<%= render 'flash' %>

<script>
   update_title('<%=@title%>');
   reset_map_controllers();
   document.getElementById("page_status").innerHTML = '';
</script>
<h1>About Us</h1>
<p>
In the tradiiton of Moir's Guide and Tararua Footprints 
route guides are not complete trips in 
themselves: they describe the route from one point to another, be it the ascent
of a peak, the crossing of a mountain pass, the descent of a river catchment, 
 or that saturday morning stroll in from the roadend to your favourite hut. 
<br/>
<br/>
For end to end journeys, look under trips. Build up your own trip by adding routes and places to it - just click 'Add to trip' when you are viewing them.
You can have as many trips as you want - they're in your 'Wishlist' under 'Me'. Use the tick to select which trip you want to add items to. And when they're 
complete and you've walked them - why not add a brief description and publish 
them to provide inspiration to others.
<br/>
<br/>
Route guides and trips are dry and informative - they describe the place and 
the route,  how to get there, but not how it felt to be there, not the events 
that took place.  So for a more enjoyable, descriptive read 
contribute or read trip reports and stories, and link them back to the routes 
or trips they describe.
<br/>
<br/>
Acknowledgements:<br/>
<br/>
Thanks first to Matthew and <a href="http://tramper.co.nz">tramper.co.nz</a> for years of information, distraction, and for providing the first and best NZ tramping website. This site aims to fill a hole in the information on NZ Tramper, not to surplant it.<br>
<br>
Maps are from LINZ. “Source: Land Information New Zealand (LINZ) and licensed by LINZ for re-use under the Creative Commons Attribution 3.0 New Zealand licence."<br>
<br/>
Elevation data is from <a href='http://www.otago.ac.nz/surveying/research/geospatial/otago040574.html'>NZSoSDEM</a>. A 15m horizontal resolution elevation model produced by the School of Surveying at the University of Otago.  This has been generalised to 30m resolution for use in this website.<br/>
<br/>
Some in-site messaging will be available one day, but until then contact me at <a href="mailto:mattbriggs@yahoo.com">mattbriggs@yahoo.com</a> for any questions or bug reports.

</p>
