<% provide(:title, 'About Route Guides') %>
<% @title=" | About " %>
<%= render 'flash' %>
<%= render 'application/mail_status' %>


<script>
   update_title('<%=@title%>');
   reset_map_controllers();
   document.getElementById("page_status").innerHTML = '';
</script>
<h1>About</h1>
<p>
In the tradition of Moir's Guide and Tararua Footprints 
route guides are not complete trips in 
themselves: they describe the route from one point to another, be it the ascent
of a peak, the crossing of a mountain pass, the descent of a river catchment, 
 or that saturday morning stroll in from the roadend to your favourite hut. 
<br/>
<br/>
For end to end journeys, look under trips. Build up your own trip by adding routes and places to it - just click 'Add to trip' when you are viewing them.
You can have as many trips as you want - they're in your 'Wishlist' under 'Me'. Use the tick to select which trip you want to add items to. And when they're 
complete and you've walked them - why not add a brief description and publish 
them to provide inspiration to others.
<br/>
<br/>
Route guides and trips are dry and informative - they describe the place and 
the route,  how to get there, but not how it felt to be there, not the events 
that took place.  So for a more enjoyable, descriptive read 
contribute or read trip reports and stories, and link them back to the routes 
or trips they describe.
<br/>
<br/>
Contact mattbriggs@yahoo.com with questions.
<br/>
<br/>
Matt (madpom)
<br/>
<br/>
<% @hidetitle=true %>
  <% @reports=Report.find_by_sql [%q[select r.* from reports r 
     inner join "links" rl on (rl."baseItem_id" = r.id and rl."baseItem_type"='report')  or  (rl.item_id = r.id and rl.item_type='report')
     where rl.item_type='about']] %>
<div id="report_list">
  <%= render 'reports/index_details' %>
</div>

</p>
