<% provide(:title, 'Disclaimer') %>
<% @title=" | Disclaimer  %>
<script> 
   update_title('<%=@title%>'); 
   document.getElementById("page_status").innerHTML = '';
</script>
<h1>Disclaimer</h1>
<p>
The outdoors is a big, dangerous, unpredictable place.<br/>
<br/>
This information is provided for planning purposes only.  All infoirmation provided
is the opinion of the contributor.  It may be outdated, written by someone with a 
level of experience, fitness or expertese completely different from your own, 
unclear or simply wrong. We make no guarantees as to the accuracy of the information provided.<br/>
<br/>
Your experience on the ground may differ considerably from what is described here.  
As an experienced tramper, you should expect this, and be prepared for it.  
Any when you're finished - please come back and edit / comment on the route so
that others may benefit from your experience.
</p>
