<% provide(:title, '') %>
<% @title=" " %>
<%= render 'flash' %>

<script>
   update_title('<%=@title%>'); 
   reset_map_controllers();
   document.getElementById("page_status").innerHTML = '';

</script>

<h1>NZ Route Guides</h1>
  <h2>
    A repository for tramping knowledge
  <br/>
  <br/>
  <br/>
    This site is under construction.  Any data entered at this stage may be discarded.
  <br/>
    ... but feel free to play.
  </h2>

