  <script>
   reset_map_controllers();
</script>
<% provide(:title, '') %>
<% @title=" " %>

<h1>Welcome to Route Guides</h1>
  <br/>
  <h2>
    The temporary home page of NZ Route Guides - a repository for tramping knowledge
  </h2>
  <br/>
  <img src='/construction.jpg' height="200" width="150">
<div id="selected">0</div>

