<% provide(:title, 'About Route Guides') %>
<% @title=" | About " %>
<h1>About Us</h1>
<p>
  This project aims to provide a repository for tramping route
guides covering the entire NZ conservation estate.<br/>
<br/>
 In the tradiiton of Moir's Guide and Tararua Footprints, route guides are not trips in 
themselves, but a guide to travelling from one location to another - generally over a i
specific pass, or up a specific catchment.  This 'segmented' approach means that i
indiviual routes can be combined at will to create the exact trip yuou want to take.<br/>
<br/>
At present this project is in the sand-pit stage, and open only to the developer.  
Once stable it will be opened up for all to use.<br/>
<br/>
Contact <a href="mailto:mattbriggs@yahoo.com">mattbriggs@yahoo.com</a> for details.

</p>
