<% @title=""%>
<div id="map">
<%= render 'maps/map' %>
</div>
<div id="content" class="center hero-unit">
  <h1>Welcome to Route Guides</h1>
  <br/>
  <h2>
    The temporary home page of NZ Route Guides - a repository for tramping knowledge
  </h2>
  <br/>
  <img src='/construction.jpg' height="200" width="150">

</div>

