<% provide(:title, 'Users') %>
<% @title=" | Users" %>
<%= render 'flash' %>
<script>
   update_title('<%=@title%>');
   reset_map_controllers();
   document.getElementById("page_status").innerHTML = '';
</script>

  <ul class="places">
    <% @users.each do |user| %>
      <li>
        <%= link_to user.name.capitalize, '/users/'+user.name, remote: true, :id => 'user_link_'+user.id.to_s, :onclick => "linkHandler('user_link_"+user.id.to_s+"')" %></li>
      </li>
    <% end %>
  </ul>

