<% provide(:title, "Edit Route | "+@route.name) %>
<% @title=" | Route | Edit -> "+@route.name %>
<%= render 'flash' %>

<script> 
   update_title('<%=@title%>'); 
   document.getElementById("page_status").innerHTML = '';
</script>
<div id="place_form" style="display:none">
   <% #render '/places/place_form' %> 
</div>
<div id="route_form" style="display:block">
   <%= render '/routes/route_form' %>
</div>


