<% provide(:title, 'Routes') %>
<% @title=" | Routes" %>
<%= render 'flash' %>

<script>
   update_title('<%=@title%>'); 
   document.getElementById("page_status").innerHTML = '';
   reset_map_controllers();

$(function () {
  $('#right_panel .pagination a').on('click', function () {
    $.getScript(this.href);
    return false;
  });
})

</script>


  <ul class="places">
    <% @route_index.sort_by{|a| [a.startplace.name, a.endplace.name]}.each do |ri| %>
      <li>
        <%= link_to ri.startplace.name+" to "+ri.endplace.name, '/search/?route_startplace_id='+ri.startplace.id.to_s+'&route_endplace_id='+ri.endplace.id.to_s, remote: true, :id => 'route_link_'+ri.id.to_s, :onclick => "linkHandler('route_link_"+ri.id.to_s+"')" %>
 
      </li>
    <% end %>
  </ul>

