@import "bootstrap"; 
@import "slider";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
$grayDark: #555;
$gray: #777;
$grayLight: #999;
$grayLighter: #eee;
$grayMediumLight: #eaeaea;

/* universal */

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  font-size: 0.9em;
  line-height: 1.3em;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  vertical-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  padding-top: 10px;
  text-align: center;
  font-weight: normal;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: normal;
  color: $gray;
}

small {
  color: $grayLight;
  font-size: 0.7em;
}

p {
  font-size: 0.9em;
  line-height: 1.2em;
}


/* header */

#main_page{
 width: 100%;
 height: 100%;
 margin-top: 28px;
}

#map_status{
  width: calc(100% - 10px);
  height: 24px;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  border-right: 2px solid;
//  border-style: none double none none;
  border-color: #999999;
}
#page_status{
  width: 80px;
  height: 24px;
  float: right;
}

#header
{
	height: 40px;
	background-color: #666;
	margin-bottom: 10px;
        font-size: 0.8em;
}

#our_logo {
  width: calc(100% - 512px);
  height: 24px;
  overflow: hidden;
  float: left;
  margin-left: 0px;
  margin-right: 0px%;
  padding-top: 6px;
  padding-right: 0px;
  padding-left: 6px;
}

#logo {
  float: left;
  margin-right: 1%;
  margin-left:1%;
  font-size: 1.3em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

#menus {
  float: right;
  font-size:1.1em;
}

.container{
  float:left;
  width:100%;
  margin-left:2%;
  margin-right:2%%;
}

#tooltip{
        position:absolute;
        z-index:10000;
        background-color:#FFFFFF;
        display:none;
        padding:5px;
}
#left_panel
{
        float: left;
        width: calc(45% - 5px);
        height: 100%;
//        padding: 2.5px;
        position: fixed;
        margin-bottom: 10px;
        margin-top: 12px;
}

html, body {
        height: 100%;
        width: 100%;
        border: 0px;
        margin: 0px;
        padding: 0px;
}

.selectedrow {
        background-color: #d6ffd6;

}

.cutrow {

        background-color: #d6d6d6;
}
.diff_label
{
        float: left;
        width: 90px;
        height: 30px;
        font-weight: bold;
}
.difficulty
{
        float: left;
        width: 100%;
}
.diff_details
{
        float: left;
        height: 30px;
        width: 100%;
        font-weight: lighter;
        font-style: italic;
        margin-left: 90px;
        color: darkgrey;
}
.diff_name
{
        float: left;
        height: 30px;
        width: 250px;
}
.diff_slider
{
        float: left;
        height: 30px;
        width: 210px;
}

.helptext {
        border: 1px solid;
        border-radius: 5px;
        border-color: blue;
        color: blue;
        padding: 5px;
        margin-bottom: 5px;
}
.erow {
        width: 100%;
        float: left;
}

.left-bubble {
	position:relative;
	padding:5px;
	margin:0em 0 0em;
        margin-right:50px;
	color:#000;
	background:#99ccff; /* default background for browsers without gradient support */
	/* css3 */
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

.right-bubble-blue {
	position:relative;
	padding:5px;
	margin:0em 0 0em;
        margin-left:50px;
	color:#000;
	background:#99ccff; /* default background for browsers without gradient support */
	/* css3 */
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}


.right-bubble {
	position:relative;
	padding:5px;
	margin:0em 0 0em;
        margin-left:50px;
	color:#000;
	background:#ffff99; /* default background for browsers without gradient support */
	/* css3 */
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

.subrow {
        width: calc(100% - 25px);
        float: left;
        padding-left: 25px;

}

.rightbuttons {
        width: 25px;
        float: right;
}

.leftbuttons {
        width: 25px;
        float: left;
}

.leftbuttons50 {
        width: 50px;
        float: left;
}

.hrline {
        width: 100%;
        height: 4px;
}

.thinhrline {
        width: 100%;
        height: 2px;
        float: left;
}
.sectiontext {
        float: left;
        width: calc(100% - 25px);
        padding-left: 25px;
}
.sectiontext50 {
        float: left;
        width: calc(100% - 50px);
        padding-left: 50px;
}
.sectiontext25 {
        width: calc(100% - 25px);
        padding-left: 25px;
}
.rowtitlesmall {
        width: calc(25% - 25px);
        margin-top: 1px;
        float: left;
        font-size: 1.2em;
        letter-spacing: -1px;
        font-weight: bold;
        color: $grayLight;
}


.rowtitle {
        width: 25%;
        margin-top: 1px;
        float: left;
        font-size: 1.2em;
        letter-spacing: -1px;
        font-weight: bold;
        color: $grayLight;
}

.checktitle {
        width: calc(25%i - 25px);
        margin-top: 1px;
        padding-left: 25%;
        float: left;
        font-size: 0.9em;
        letter-spacing: -1px;
        font-weight: normal;
        color: $grayLight;
}
.checkbox {
        float: left;
        width: 25px;
}

.rowtext {
        float: left;
        width: 75%;
}

.rowtextsmall {
        float: left;
        width: calc(75%-25px);
}

.sectiontitle {
        margin-top: 1px;
        float: left;
        font-size: 1.2em;
        letter-spacing: -1px;
        font-weight: bold;
        color: $grayLight;
}
.sectiontitle25 {
        margin-top: 1px;
        padding-left: 25px;
        font-size: 1.2em;
        letter-spacing: -1px;
        font-weight: bold;
        color: $grayLight;
}


.sectiontitle50 {
        margin-top: 1px;
        padding-left: 50px;
        font-size: 1.2em;
        letter-spacing: -1px;
        font-weight: bold;
        color: $grayLight;
}

.sectiontitle-bold {
        margin-top: 1px;
        float: left;
        font-size: 1.2em;
        letter-spacing: -1px;
        font-weight: bold;
        color: $grayLight;
}

#links_section > .erow > #route_details > .erow > .sectiontitle25 {
        font-weight: normal;
}

#links_section2 > .erow > #route_details > .erow > .sectiontitle25 {
        font-weight: normal;
}

.photo-bar {
padding-left:25px;
height:auto;
width: calc(100% - 25px);
overflow-x:auto;
overflow-y:hidden;
white-space: nowrap;
}

img.photo {
    float:left;
    display:inline;
    margin-right:10px;
}



#links_section > .erow > .sectiontitle {
        font-weight: normal;
}

#map_map {
        width: calc(100% - 10px);
        height: calc(100% - 72px); 
        border: 0px;
        margin: 0px;
 /*       margin-top: 100px; */
	margin-left: 20px;
	margin-right: 20px;
        padding: 0px;
}

#map-blah
{
	float: left;
	width: 100%;
	height: 80%;
}

#map_controls
{
        float: left;
        width: 100%;
        height: 20%;

}

#right_panel
{
	float: left;
	margin-left: 45%;
        padding-left: 5px;
        padding-top: 28px;
	width: calc(55% - 10px);
	height: auto;    
}

#footer
{
	clear: both;
	height: 50px;
	background-color: #666;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 10px;
}

/*footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 1%;
    }
  }
*/

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* Places index */

.photos {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLight;
    &:last-child {
      border-bottom: 1px solid $grayLight;
    }
  }
}
.places {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLight;
    &:last-child {
      border-bottom: 1px solid $grayLight;
    }
  }
}
.imageWrap { 
    width: 640px; 
    height: 420px; 
    background: url('ajax-loader.gif') center center no-repeat; 
}
/**
 * Map Examples Specific
 */
.smallmap {
    width: 512px;
    height: 256px;
    border: 1px solid #ccc;
}
#tags {
    display: none;
}

#docs p {
    margin-bottom: 0.5em;
}
.clear{
  clear:both;
}
.panel{
  float: left;
  height: 200px;
  padding: 2.5px;
}
/* mobile specific */
