 @import "bootstrap"; 
@import "slider";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
$grayLight: #999;
$grayLighter: #eee;
$grayMediumLight: #eaeaea;

/* universal */

html, body {
        height: 100%;
        width: 100%;
        border: 0px;
        margin: 0px;
        padding: 0px;
}



html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  vertical-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

small {
  color: $grayLight;
  font-size: 0.7em;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#main_page{
  float: left;
  width: 100%;
  height: 100%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 60px;
}
#page_status{
  width: 80px;
  height: 0px;
  float: right;
}

#header
{
	height: 50px;
	background-color: #666;
	margin-bottom: 10px;
}

#our_logo {
  width: calc(100% - 670px);
  height: 27px;
  overflow: hidden;
  float: left;
  margin-left: 0px;
  margin-right: 0px%;
  padding-right: 0px;
  padding-left: 0px;
}

#logo {
  float: left;
  margin-right: 1%;
  margin-left:1%;
  font-size: 1.5em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

#menus {
  float: right;
}

.container{
  float:left;
  width:100%;
  margin-left:2%;
  margin-right:2%%;
}

#map_map {
        width: calc(100% - 2px);
        height: calc(100% - 62px);
        border: 0px;
        margin: 0px;
        margin-top: 100px;
        margin-left: 20px;
        padding: 0px;
}
#tooltip{
        position:absolute;
        z-index:10000;
        background-color:#FFFFFF;
        display:none;
        padding:5px;
}
#left_panel
{
        float: left;
        width: 40%;
        height: 100%;
        position: fixed;
        margin-bottom: 10px;
}

.selectedrow {
        background-color: #d6ffd6;

}

.cutrow {

        background-color: #d6d6d6;
}
.diff_label
{
        float: left;
        width: 90px;
        height: 30px;
        font-weight: bold;
}
.difficulty
{
        float: left;
        width: 100%;
}
.diff_details
{
        float: left;
        height: 30px;
        width: 100%;
        font-weight: lighter;
        font-style: italic;
        margin-left: 90px;
        color: darkgrey;
}
.diff_name
{
        float: left;
        height: 30px;
        width: 250px;
}
.diff_slider
{
        float: left;
        height: 30px;
        width: 210px;
}

.erow {
        width: 100%;
        float: left;
}

.subrow {
        width: 100%;
        float: left;
        margin-left: 25px;

}

.rightbuttons {
        width: 25px;
        float: right;
}

.leftbuttons {
        width: 25px;
        float: left;
}

.hrline {
        width: 100%;
        height: 4px;
}

.sectiontext {
        float: left;
        width: 100%;
        margin-left: 25px;
}

.sectiontext {
        float: left;
        width: 100%;
        margin-left: 25px;
}

.rowtitle {
        width: 25%;
        margin-top: 1px;
        float: left;
        font-size: 1.2em;
        letter-spacing: -1px;
        font-weight: bold;
        color: $grayLight;
}

.rowtext {
        float: left;
        width: 75%;
}

.sectiontitle {
        margin-top: 1px;
        float: left;
        font-size: 1.2em;
        letter-spacing: -1px;
        font-weight: bold;
        color: $grayLight;
}


html, body {
        height: 100%;
        width: 100%;
        border: 0px;
        margin: 0px;
        padding: 0px;
}

#map_map {
        width: calc(100% - 2px);
        height: calc(100% - 62px); 
        border: 0px;
        margin: 0px;
 /*       margin-top: 100px; */
	margin-left: 20px;
        padding: 0px;
}

#map-blah
{
	float: left;
	width: 100%;
	height: 80%;
}

#map_controls
{
        float: left;
        width: 100%;
        height: 20%;

}
#right_panel
{
	float: left;
	margin-left: 45%;
	margin-right:5%;
	width: 50%;
	height: auto;
	margin-bottom: 10px;
}

#footer
{
	clear: both;
	height: 50px;
	background-color: #666;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 10px;
}

/*footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 1%;
    }
  }
*/

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* Places index */

.places {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}
.imageWrap { 
    width: 640px; 
    height: 420px; 
    background: url('ajax-loader.gif') center center no-repeat; 
}
/**
 * Map Examples Specific
 */
.smallmap {
    width: 512px;
    height: 256px;
    border: 1px solid #ccc;
}
#tags {
    display: none;
}

#docs p {
    margin-bottom: 0.5em;
}
/* mobile specific */
