@import "bootstrap"; 
@import "slider";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
$grayDark: #555;
$gray: #777;
$grayLight: #999;
$grayLighter: #eee;
$grayMediumLight: #eaeaea;

/* universal */

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  font-size: 0.9em;
  line-height: 1.3em;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.body-select {
  font-size: 0.9em;
  max-width: 100%;
  width: auto;
}
.center {
  text-align: center;
  vertical-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  padding-top: 10px;
  text-align: center;
  font-weight: normal;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: normal;
  color: $gray;
}

small {
  color: $grayLight;
  font-size: 0.7em;
}

p {
  font-size: 0.9em;
  line-height: 1.2em;
}


/* header */

#main_page{
 width: 100%;
 height: 100%;
 margin-top: 28px;
}

#page_status{
  height: 24px;
}

#header
{
	height: 40px;
	background-color: #666;
	margin-bottom: 10px;
        font-size: 0.8em;
}

#our_logo {
  width: calc(100% - 580px);
  height: 24px;
  overflow: hidden;
  float: left;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 6px;
  padding-right: 0px;
  padding-left: 6px;
}

#logo {
  float: left;
  margin-right: 1%;
  margin-left:1%;
  font-size: 1.3em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

#menus {
  float: right;
  font-size:1.1em;
}

.container{
  float:left;
  width:100%;
  margin-left:2%;
  margin-right:2%;
}

#tooltip{
        position:absolute;
        z-index:10000;
        background-color:#FFFFFF;
        display:none;
        padding:5px;
}
#left_panel
{
        float: left;
        width: calc(45% - 5px);
        height: 100%;
//        padding: 2.5px;
        position: fixed;
        margin-bottom: 10px;
        margin-top: 12px;
}

html, body {
        height: 100%;
        width: 100%;
        border: 0px;
        margin: 0px;
        padding: 0px;
}

.normaltext {
  font-size: 0.9em;
  line-height: 1.2em;
  font-weight: normal;
}

.selectedrow {
        background-color: #d6ffd6;

}

.cutrow {

        background-color: #d6d6d6;
}
.diff_label
{
        float: left;
        width: 90px;
        height: 30px;
        font-weight: bold;
}
.difficulty
{
        float: left;
        width: 100%;
}
.diff_details
{
        float: left;
        height: 30px;
        width: 100%;
        font-weight: lighter;
        font-style: italic;
        margin-left: 90px;
        color: darkgrey;
}
.diff_name
{
        float: left;
        height: 30px;
        width: 250px;
}
.diff_slider
{
        float: left;
        height: 30px;
        width: 210px;
}

.helptext {
        border: 1px solid;
        border-radius: 5px;
        border-color: blue;
        color: blue;
        padding: 5px;
        margin-bottom: 5px;
}
.erow {
        width: 100%;
        float: left;
}

.left-bubble {
	position:relative;
	padding:5px;
	margin:0em 0 0em;
        margin-right:50px;
	color:#000;
	background:#99ccff; /* default background for browsers without gradient support */
	/* css3 */
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

.right-bubble-blue {
	position:relative;
	padding:5px;
	margin:0em 0 0em;
        margin-left:50px;
	color:#000;
	background:#99ccff; /* default background for browsers without gradient support */
	/* css3 */
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}


.right-bubble {
	position:relative;
	padding:5px;
	margin:0em 0 0em;
        margin-left:50px;
	color:#000;
	background:#ffff99; /* default background for browsers without gradient support */
	/* css3 */
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

.subrow {
        width: calc(100% - 25px);
        float: left;
        padding-left: 25px;

}

.rightbuttons {
        width: 25px;
        float: right;
}

.leftbuttons {
        width: 25px;
        float: left;
}

.leftbuttons50 {
        width: 50px;
        float: left;
}

.hrline {
        width: 100%;
        height: 4px;
}

.thinhrline {
        width: 100%;
        height: 2px;
        float: left;
}
.sectiontext {
        float: left;
        width: calc(100% - 25px);
        padding-left: 25px;
        font-size: 1.0em;
        line-height: 1.3em;
}
.sectiontext50 {
        float: left;
        width: calc(100% - 50px);
        padding-left: 50px;
        font-size: 1.0em;
        line-height: 1.3em;
}
.sectiontext25 {
        width: calc(100% - 25px);
        padding-left: 25px;
        font-size: 1.0em;
        line-height: 1.3em;
}
.rowtitlesmall {
        width: calc(25% - 25px);
        margin-top: 1px;
        float: left;
        font-size: 1.2em;
        letter-spacing: -1px;
        font-weight: bold;
        color: $grayLight;
}

.rowtitleshort {
        width: 50px;
        margin-top: 1px;
        float: left;
        font-size: 1.2em;
        letter-spacing: -1px;
        font-weight: bold;
        color: $grayLight;
}

.buttonshort {
        width: 70px;
        float: left;
        margin-left:10px;
}

.rowtitle {
        width: 25%;
        margin-top: 1px;
        float: left;
        font-size: 1.2em;
        letter-spacing: -1px;
        font-weight: bold;
        color: $grayLight;
}

.checktitle {
        width: calc(25% - 25px);
        margin-top: 1px;
        padding-left: 25%;
        float: left;
        font-size: 1.0em;
        letter-spacing: -1px;
        font-weight: normal;
        color: $grayLight;
}
.checkbox {
        float: left;
        width: 25px;
}

.rowtext {
        float: left;
        width: 75%;
        font-size: 1.0em;
        line-height: 1.3em;
}

.rowtextshort {
        float: left;
        width: calc(100% - 155px);
        font-size: 1.0em;
        line-height: 1.3em;
}
.rowtextsmall {
        float: left;
        width: calc(75% - 25px);
        font-size: 1.0em;
        line-height: 1.2em;
}

.sectiontitle {
        margin-top: 1px;
        float: left;
        font-size: 1.2em;
        letter-spacing: -1px;
        font-weight: bold;
        color: $grayLight;
}
.sectiontitle25 {
        margin-top: 1px;
        padding-left: 25px;
        font-size: 1.2em;
        letter-spacing: -1px;
        font-weight: bold;
        color: $grayLight;
}


.sectiontitle50 {
        margin-top: 1px;
        padding-left: 50px;
        font-size: 1.2em;
        letter-spacing: -1px;
        font-weight: bold;
        color: $grayLight;
}

.sectiontitle-bold {
        margin-top: 1px;
        float: left;
        font-size: 1.2em;
        letter-spacing: -1px;
        font-weight: bold;
        color: $grayLight;
}

#links_section > .erow > #route_details > .erow > .sectiontitle25 {
        font-weight: normal;
}

#links_section2 > .erow > #route_details > .erow > .sectiontitle25 {
        font-weight: normal;
}

.photo-bar {
padding-left:25px;
height:auto;
width: calc(100% - 25px);
overflow-x:auto;
overflow-y:hidden;
white-space: nowrap;
float: left;
}

img.photo {
    float:left;
    display:inline;
    margin-right:10px;
}



#links_section > .erow > .sectiontitle {
        font-weight: normal;
}

#map_map {
        width: calc(100% - 15px);
        height: calc(100% - 48px); 
        border: 0px;
        margin: 0px;
 /*       margin-top: 100px; */
	margin-left: 20px;
	margin-right: 20px;
        padding: 0px;
        float: left;
}

#map-blah
{
	float: left;
	width: 100%;
	height: 80%;
}

#map_controls
{
        float: left;
        width: 100%;
        height: 20%;

}

#right_panel
{
	float: left;
	margin-left: 45%;
        padding-left: 5px;
        padding-top: 28px;
	width: calc(55% - 10px);
	height: auto;    
}

.half_column
{
        float: left;
        width: 50%;
}

#footer
{
	clear: both;
	height: 50px;
	background-color: #666;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 10px;
}

/*footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 1%;
    }
  }
*/

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
/* forms */

input, textarea, select:not(.body-select), .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* Places index */

.photos {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLight;
    &:last-child {
      border-bottom: 1px solid $grayLight;
    }
  }
}
.places {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLight;
    &:last-child {
      border-bottom: 1px solid $grayLight;
    }
  }
}
.imageWrap { 
    width: 640px; 
    height: 420px; 
    background: url('ajax-loader.gif') center center no-repeat; 
}
/**
 * Map Examples Specific
 */
.smallmap {
    width: 512px;
    height: 256px;
    border: 1px solid #ccc;
}
#tags {
    display: none;
}

#docs p {
    margin-bottom: 0.5em;
}
.clear{
  clear:both;
}
.panel{
  float: left;
  height: 200px;
  padding: 2.5px;
}
.pagination {
  margin: 0px;
}
.name_pagination {
  background: #f1f1f1;
//  border: 1px solid #e5e5e5;
  text-align: center;
  font-size: 0.8em;
  padding: 1em;
  cursor: default; }
  .name_pagination a, .name_pagination span {
    padding: 0.2em 0.3em; }
  .name_pagination .disabled {
    color: #aaaaaa; }
  .name_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.9em;
    height: 1.4em;
//    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 2px 1px 2px; }
  .name_pagination a {
    text-decoration: none;
    color: black; }
    .name_pagination a:hover, .name_pagination a:focus {
      text-decoration: underline; }

.date_pagination {
  background: #f1f1f1;
//  border: 1px solid #e5e5e5;
  text-align: center;
  font-size: 0.8em;
  padding: 1em;
  cursor: default; }
  .date_pagination a, .date_pagination span { 
    padding: 0.2em 0.3em; }
  .date_pagination .disabled {
    color: #aaaaaa; }
  .date_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 3.0em;
    height: 1.4em;
//    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .date_pagination a {
    text-decoration: none;
    color: black; }
    .date_pagination a:hover, .date_pagination a:focus { 
      text-decoration: underline; }

        .olControlPanel {
          margin-left: 40px;
          margin-top: 8px;
        }
        .olControlPanel button {
          position: relative;
          display: block;
          margin: 2px;
          border: 1px solid;
          padding: 0px 2px;
          border-radius: 4px;
          height: 32px;
          background-color: white;
          float: left;
          overflow: visible; /* needed to remove padding from buttons in IE */
        }
        .olControlPanel button span {
          padding-left: 25px;
        }
        .olControlPanel button span:first-child {
          padding-left: 0;
          display: block;
          position: absolute;
          left: 2px;
        }
        .olControlPanel .olControlPinItemInactive span:first-child {
          background-image: url("/assets/pin24.png");
          height: 24px;
          width: 24px;
          top: 2px;
          left: 2px;
        }
       .olControlPanel .olControlCentreItemInactive span:first-child {
          background-image: url("/assets/target24.png");
          height: 24px;
          width: 24px;
          top: 2px;
          left: 2px;
        }
        .olControlPanel .olControlLayersItemInactive span:first-child {
          background-image: url("/assets/layers24.png");
          height: 24px;
          width: 24px;
          top: 2px;
          left: 2px;
        }
        .olControlPanel .olControlFilterItemInactive span:first-child {
          background-image: url("/assets/filter24.png");
          height: 24px;
          width: 24px;
          top: 2px;
          left: 2px;
        }
        .olControlPanel .olControlPanItemInactive span:first-child {
          background-image: url("/assets/pan24.png");
          height: 24px;
          width: 24px;
          top: 2px;
          left: 2px;
        }
        .olControlPanel .olControlBoxItemInactive span:first-child {
          background-image: url("/assets/select-box.png");
          height: 22px;
          width: 22px;
          top: 2px;
          bottom: 2px;
          left: 2px;
          right: 2px;
        }
        .olControlPanel .olControlPrintItemInactive span:first-child {
          background-image: url("/assets/save24.png");
          height: 24px;
          width: 24px;
          top: 2px;
          left: 2px;
        }
        .olControlPanel .olControlInfoItemInactive span:first-child {
          background-image: url("/assets/info24.png");
          height: 24px;
          width: 24px;
          top: 2px;
          left: 2px;
          cursor: default;
        }
        .olControlPanel .olControlSelectPointItemInactive span:first-child {
          background-image: url("/assets/select-point24.png");
          height: 24px;
          width: 24px;
          top: 2px;
          left: 2px;
          cursor: default;
        }
        .olControlPanel .olControlSelectLineItemInactive span:first-child {
          background-image: url("/assets/select-line24.png");
          height: 24px;
          width: 24px;
          top: 2px;
          left: 2px;
          cursor: default;
        }
        .olControlPanel .olControlDrawPointItemInactive span:first-child {
          background-image: url("/assets/draw-point24.png");
          height: 24px;
          width: 24px;
          top: 2px;
          left: 2px;
          cursor: default;
        }
        .olControlPanel .olControlDrawLineItemInactive span:first-child {
          background-image: url("/assets/draw24.png");
          height: 24px;
          width: 24px;
          top: 2px;
          left: 2px;
          cursor: default;
        }
        .olControlPanel .olControlDisabledItemInactive span:first-child {
          background-image: url("/assets/white24.png");
          height: 24px;
          width: 24px;
          top: 2px;
          left: 2px;
          cursor: default;
        }
div.olControlMousePosition, div.olControlScale {
    text-shadow: 0 0 0.2em #FFF, 0 0 0.2em #FFF, 0 0 0.2em #FFF;

}
.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%;
  float: right;
  background-color: $grayLight;
}

/* mobile specific */
