<div class="erow">
  <div class="sectiontitle">Stories and Trip Reports</div>
</div>
  <% if @reports.count and @reports.count>0 %>
    <ul class="places">
      <% @reports.each do |report| %>
        <div class="erow">
          <li>
            <%= link_to report.name, report, remote: true, :id => 'report_link_'+report.id.to_s, :onclick => "linkHandler('report_link_"+report.id.to_s+"')" %>
            by <%= link_to report.createdBy.name.capitalize, '/users/'+report.createdBy.name, remote: true%> (last updated <%=report.updated_at.strftime("%F")%>)
          </li>
        </div>
      <% end %>
    </ul>
  <% else %>
    <div class="erow">
      None ...
    </div>
  <% end %>

