<% provide(:title, 'Places') %>
<% @title=" | Places" %>
<%= render 'flash' %>
<script>
   update_title('<%=@title%>');
   reset_map_controllers();
   document.getElementById("page_status").innerHTML = '';
</script>

  <ul class="places">
    <% @places.each do |place| %>
      <li>
        <%= link_to place.name, place, remote: true, :id => 'place_link_'+place.id.to_s, :onclick => "linkHandler('place_link_"+place.id.to_s+"')" %></li>
      </li>
    <% end %>
  </ul>

