<% provide(:title, "Edit Place | "+@place.name) %>
<% @title=" | Place | Edit -> "+@place.name %>
<div id="map">
<%= render 'maps/map' %>
</div>
<div id="content">
<%= render 'places/place_details' %>
</div>

