<% provide(:title, "Edit Place | "+@place.name) %>
<% @title=" | Place | Edit -> "+@place.name %>
<div id="left_panel">
<%= render 'maps/map' %>
</div>
<div id="right_panel">
<%= render 'places/place_details' %>
</div>

