<% provide(:title, "Place | "+@place.name) %>
<% @title=" | Place | "+@place.name %>

<div id="map">
<%= render 'maps/map' %>
</div>
<div id="right_panel">
<%= render 'places/place_details' %>
</div>

