<footer class="footer">
  <small>
    Many thanks to <a href="http://railstutorial.org/">Rails Tutorial</a>
    by Michael Hartl
  </small>
  <nav>
    <ul>
      <li><%= link_to "Disclaimer", disclaimer_path %></li>
    </ul>
  </nav>
</footer>
